
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headir{
    height: 100vh;
    background-size: contain;
    background-image: url(cd74882b582149970074b7f5c1ab1e005963767c.png)

}

.aa{
    width: 25%;
    float: left;
    text-align: center;
    border: 2px solid red;
    padding: 5px;
}

 @media (max-width:767px) {
   .aa{
    width: 100%;
    .headir{
        background-image: url(download.jpg);
        background-size: contain;
    }

   } 
 }
@media (min-width: 768px) and (max-width:1023px){
    .aa{
        width: 50%;
    }
    
}

@media (min-width: 1024px) {
    .aa{
        width: 25%;
    }
    
}